body {
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  font: 64px;
}

.product{
   width: 250px;
   max-width: 90%;
   border: 2px solid darkblue;
   border-radius: 3px;
   margin:10px;
}

.product img{
   max-width:100%;
}

.top-bar{
  position: relative;
  overflow: hidden;
  background-image: url("https://wallpapercave.com/wp/kaezLBs.jpg");
  height: 200px;
  color: white;
}
