body {
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  margin-top:120px;
  font: 64px;
}

.product{
   width: 250px;
   max-width: 90%;
   border: 2px solid forestgreen;
   border-radius: 3px;
   margin:10px;
   text-align: center;
}

.product img{
   max-width:100%;
   height:200px;
}

.top-bar{
  position: relative;
  overflow: hidden;
  background-image: url("https://wallpapercave.com/wp/kaezLBs.jpg");
  height: 200px;
  color: white;
}

.product-list{
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}
