<!DOCTYPE html>
<html>
<head>
   <title>Rainforest Marketplace Admin</title>

   <!--Angular dependency-->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

   <!--Local Javascript dependency-->
   <script src="javascripts/app.js"></script>

   <!--Stylesheets-->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<body ng-app="shopping" ng-controller="ShopControl" >
  <h1>Rainforest Marketplace Administration</h1>

  <form ng-submit="addProduct()">
    <input type="text" ng-model="name" placeholder="Product Name">
    <input type="number" ng-model="price" placeholder="Price">
    <input type="url" ng-model="imgURL" placeholder="Image URL">
    <button type="submit">Add product</button>
  </form>

  <div ng-repeat="product in cart.data | orderBy: ['-purchases','price']">
    <span class="glyphicon glyphicon-remove" ng-click="delete(product)"></span>
    {{product.name}} {{product.price}} - Purchases: {{product.purchases}}
    <img class="product image" ng-src="{{product.imgURL}}" />
  </div>

</body>
</html>
