<!DOCTYPE html>
<html>
<head>
   <title>Rainforest Marketplace/title>

   <!--Angular dependency-->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

   <!--Local Javascript dependency-->
   <script src="javascripts/app.js"></script>

   <!--Stylesheets-->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<body ng-app="shopping" ng-controller="ShopControl" >
  <h1>Rainforest Marketplace</h1>

  <div ng-repeat="product in cart.data | orderBy: ['price']">
    <input type="checkbox" ng-model="product.selected">
    {{product.firstName}} {{product.price}}
  </div>
  <button ng-click="addToCart()">Submit Votes</button>

  <h1>Submitted Cart </h1>
  <div ng-repeat="product in submittedCart | orderBy: 'price'">
    {{product.firstName}} {{product.price}}
  </div>


   </body>
</html>
