<!DOCTYPE html>
<html>
<head>
   <title>Rainforest Marketplace</title>

   <!--Angular dependency-->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

   <!--Local Javascript dependency-->
   <script src="javascripts/app.js"></script>

   <!--Stylesheets-->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   <link href="stylesheets/style.css" rel="stylesheet">

   <!--Fonts-->
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>
<body ng-app="shopping" ng-controller="ShopControl" >
  <div class ="top-bar">
    <h1>Rainforest Marketplace</h1>
  </div>

  <div class = "product" ng-repeat="product in cart.data | orderBy: ['price']">
    <input type="checkbox" ng-model="product.selected">
    {{product.name}} : ${{product.price}}
    <img ng-src="{{product.imgURL}}" />
  </div>
  <button ng-click="addToCart()">Add to Cart</button>

  <h1>Cart </h1>
  <div class = "product" ng-repeat="product in submittedCart | orderBy: 'price'">
    <img class="product image" ng-src="{{product.imgURL}}" />
    {{product.name}} {{product.price}}
  </div>


   </body>
</html>
